html {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

#main-logo, button, nav li a:hover, .project-title{
	background-color: #4aaaa5;
	color: white;
}

button {
	width: 150px;
	padding: 10px;
	font-size: 20px;
	border: none;
}

#main-logo {
	font-size: 2em;
	line-height: 80px;
	height: 80px;
	padding: 0 20px;
	margin: 0;
}

nav {
	font-size: 20px;
	border-bottom: solid 1px #DDD;
}
 
.navbar-nav>li>a{
	line-height: 50px;
	color: #BBB;
}

.main-content, #connect {
	margin: 20px auto;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 0 20px 20px 20px;

}

#connect {
	text-align: center;
}

/* About Page */

#bio-image {
	width: 200px;
	height: auto;
	float: left;
	margin: 10px;
}

/* Portfolio Page */

.project {
	display: inline-block;
	width: 45%;
	margin: 0 2% -8% 2%; 
	overflow: hidden;
}

.project-image {
	width: 100%;
	height: auto;
}

.project-title {
	position: relative;
	top: -90px;
	width: 100%;
	height: 60px;
	text-align: center;
	opacity: .9;
	padding: 0;
	margin: 0;
}

.project-title h2 {
	line-height: 60px;
	color: white;
}

/* Connect Links */

.connect-icon {
	width: 50px;
	height: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
	text-align: center;
	line-height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	border-top: thick solid #4aaaa5;
	background-color: #666666;
	color: #dddddd;	
}